html {
  font-size: 62.5%; /* 10px browser default */
}

html,
body {
  overflow-x: hidden;
}

.clearfix::before {
  display: table;
  content: " ";
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

img {
  height: auto;
  max-width: 100%;
}
